<IfModule mod_rewrite.c>
RewriteEngine On

RewriteRule ^css/(.*)$ /public/css/$1 [L]
RewriteRule ^js/(.*)$ /public/js/$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d


RewriteRule (.*) index.php?route=$1 [L,QSA]
</IfModule>